<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://css.hackclub.com/fonts.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft world analysis</title>
</head>
<body>
    <h1 class="title">Minecraft world analysis</h1>
    <div class="form">
        <form action="/mapgen" method="POST">
            <div class="form-row">
                <label class="field" >
                    Seed:
                    <input name ="seed" placeholder="1234"> 
                </label>
                <label class="field" >
                    Version:
                    <input name ="version" placeholder="1.20"> 
                </label>
                <label class="field">
                        Dimension:
                        <select name="dimension">
                            <option value="overworld">overworld</option>
                            <option value="nether">Nether</option>
                            <option value="end">End</option>
                    </select>
                </label>
                <label class="field" >
                    Scale(blocks):       
                    <input name ="scale" placeholder="5000"> 
                </label>
                <label class="field" >
                    X(optional):
                    <input name ="X" placeholder="0"> 
                </label>
                <label class="field" >
                    Z(optional):
                    <input name ="Z" placeholder=" 0"> 
                </label>
                </div>
                <div class = "checkboxes">
                <label>
                    show villages
                    <input type="checkbox" name="villages" value="villages">
                </label>
                <label>
                       show outposts
                    <input type="checkbox" name="outposts" value="outposts">
                </label>
                <label>
                       show strongholds
                    <input type="checkbox" name="strongholds" value="strongholds">
                </label>
                <br> 
            </div>
                <button type="submit">Generate map</button>

    </div>
    </form>
    </body>
    <div id="coordinates"><label style="font-size:22px; color: black;" = 22px>Move your mouse over the map</label></div>
    <img id = "map" src="{{ url_for('static', filename='map.png') }}?v={{ random}}" class="map"
    style="width: 88%; height: auto; display: block; margin: 15px auto 0; margin-left: 0; margin-right: auto;">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    
    <script>
    let currentBiome = "";    
    let lastX = null;
    let lastZ = null;
    const socket = io();
    const coordinates = document.getElementById("coordinates");
    coordinates.style.color = "black";
    coordinates.style.fontSize = "22px";
    const map = document.getElementById("map");
    socket.on("biome", function(data) {
        currentBiome = data.biome;
    }); 
    map.addEventListener("mousemove", function(event) {
        const rect = map.getBoundingClientRect();
        const mouseX = event.clientX - rect.left;
        const mouseY = event.clientY - rect.top;
        const pngX = mouseX * map.naturalWidth / rect.width;
        const pngY = mouseY * map.naturalHeight / rect.height;

        const mapLeftj = {{ mapLeft }};
        const mapTopj = {{ mapTop }};
        const mapRightj = {{ mapRight }};
        const mapBottomj= {{ mapBottom}};
        
        if (
            pngX >= mapLeftj &&
            pngX <= mapRightj &&
            pngY >= mapTopj &&
            pngY <= mapBottomj

        ) {
            const mapWidth = mapRightj - mapLeftj;
            const mapHeight = mapBottomj - mapTopj;
            const relativeX = (pngX -mapLeftj) / mapWidth;
            const relativeZ = (pngY-mapTopj) / mapHeight;
            const startx = {{ startX }};
            const startz = {{ startZ }};
            const widthj = {{ width }};
            const heightj = {{ height }};
            const mcX = startx +relativeX * widthj;
            const mcZ = startz +(1-relativeZ) * heightj;
            const roundedX = Math.round(mcX);
            const roundedZ = Math.round(mcZ);
            if (roundedX !== lastX || roundedZ !== lastZ) {
                lastX = roundedX;
                lastZ = roundedZ;

            
                socket.emit("coordinates", {
                    x: Math.round(mcX),
                    z: Math.round(mcZ)
                }); 
            }
            coordinates.textContent = "  X: " + Math.round(mcX) + "  Z: " + Math.round(mcZ) + "  Biome: " + currentBiome;
            
        } else {
            coordinates.textContent = "X:     Z:     Biome:";
        }
    });
    </script>


</html>